<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>System Overview</h2>
        <p class="lead text-left">The RDI2 ELF I system is a
          150 TFLOPS Dell Linux Cluster based on PowerEdge M1000E enclosures (16 nodes per enclosure)
          and PowerEdge M630 servers, each outfitted with Dual Intel Xeon E5 (Sandy Bridge) processors.
          The system also includes a set of login nodes, large-memory nodes, GPU nodes.
          Additional nodes (not directly accessible to users) provide management and file system services.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
